body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #dda4ed;
}

#search-container {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#search-input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#search-button, #clear-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#city-info {
    text-align: left;
    margin-right: 20px;
}

#weather-icon-container {
    text-align: center;
}

#weather-icon {
    width: 190px;
    height: 150px;
}

#city-info p {
    margin: 5px 0;
}

.switch input {
    margin-left: 10px;
    display: none;
  }
  
.slider {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(20px);
}

#unitText {
    margin-left: 10px;
}