body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5ec4ed;
}

#search-container {
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    margin-right: 5px;
}

#search-button {
    padding: 10px;
}

#weather-container {
    text-align: center;
}

#weather-icon {
    width: 190px;
    height: 150px;
}